.githubIcon:hover path {
  fill: #66ecbc;
  transition: 0.4s ease;
}

.linkedinIcon:hover path {
  fill: #66ecbc;
  transition: 0.4s ease;
}

.emailIcon:hover path {
  fill: #66ecbc;
  transition: 0.4s ease;
}