.githubIcon:hover path {
  fill: #66ecbc;
  transition: 0.4s ease;
}

.linkedinIcon:hover path {
  fill: #66ecbc;
  transition: 0.4s ease;
}

.emailIcon:hover path {
  fill: #66ecbc;
  transition: 0.4s ease;
}

#menu-icon-switch {
  color: var(--body-text-color);
  font-size: 24px;

  display: none;
}

@media screen and (max-width: 768px) {
  #menu-icon-switch {  
    display: block;
    position: relative;
    cursor: pointer;

    margin-right: 2rem;
  }
}